<aside>
<div class="ui items user_profile animated fadeInLeft" ng-show="{{currentUser != null}}">
  <div class="item" >
    <a class="ui tiny image">
      <img src="/assets/imgs/jenny.jpg">
    </a>
    <div class="content">
      <a class="header">{{currentUser.name}}</a>
      <div class="description">
        <p>{{currentUser.description}}</p>
      </div>
      <div class="meta">
        <span style="font-size: 24px; color: green;">{{currentUser.point}} points </span>
      </div>
    </div>
  </div>
</div>



</aside>